<h1>Events</h1>

<% @events.each do |e| %>
  <h1><%=link_to e.name.titleize, event_path(e) %></h1>
  <ul>
    <li><%= e.start %></li>
    <li><%= e.end_time %></li>
  </ul>
<% end %>

<br>
<%= link_to "Add new event", new_event_path %>
